@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    /* Updated highlight color */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 6%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 8%;
    --muted-foreground: 255 5% 50%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
    margin: 0;
    scroll-behavior: smooth;
  }



  p {
    @apply text-foreground text-base;
  }

  h3 {
    @apply text-foreground text-md font-medium mb-1;
  }


  .underline:hover {
    @apply text-blue-500;
    text-decoration-color: currentColor;

  }

  .underline {
    text-underline-offset: 2px
  }

  body {
    @apply bg-background text-foreground;
  }



  ::selection {
    @apply bg-blue-600/30 text-blue-500;
    /* Text color */
  }

  a::hover {
    @apply text-primary;
  }

  blockquote {
    @apply mt-4 border-l-2 pl-6 text-foreground text-base
  }

  blockquote span {
    @apply pl-3 text-muted-foreground text-base
  }



}

ul ul li,
ul ol li,
ol ul li,
ol ol li {
  margin: 0;
  padding: 0
}

.mdx ul ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mdx ul li li {
  margin-left: 0;
  list-style: none;
}

.mdx ul li {
  list-style: none;
  margin-left: 0;

}

.mdx ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}


.mdx li ul li {
  padding: 0;
  margin: 0
}

p>code.hljs {
  display: inline;
}


span>pre>code.hljs {
  display: inline-flex;
}